<ion-view view-title="Players">
  <ion-content class="padding">
    <div class="jumbotron dartsContainer">
      <h1>Inserisci i giocatori*</h1>
      <p>*(I giocatori devono essere minimo 2)</p>

      <div class=".col-md-6 .col-md-offset-3 playerList">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Aggiungi un nuovo giocatore..." ng-model="players.name">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="addPlayer()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
        </div> <!-- input-group -->
      </div> <!-- col-lg-6 -->

      <div>
        <ion-list class="list-group playerList">
          <ion-item class="list-group-item" ng-repeat="player in players">
            <p> {{ player.name }} </p>
          </ion-item>
        </ion-list>
      </div>

      <div class="btn-group-vertical dartsButton" role="group">
        <a class="btn btn-warning btn-lg" role="button" ng-click="removePlayer()" ng-show="players.length >= 1">Cancella i giocatori</a>
        <a class="btn btn-info btn-lg" role="button" href="#/tab/account" ng-show="players.length >= 2">Inizia la partita</a>
      </div>
    </div>
  </ion-content>
</ion-view>
