/* Empty. Add your own CSS if you like */
.dartsContainer {
	text-align:center;
}

.playerList {
	margin: 5rem 2rem 3rem 2rem;
}

.dartsButton {
	width: 100%;
}

.dartsInput {
	margin-top: 2rem;
}

thead tr th {
	text-align:center;
}

.disable-clickon-tabs .tab-nav.tabs {
    pointer-events: none !important;
}
