/* Empty. Add your own CSS if you like */
.dartsContainer {
	text-align:center;
}

.playerList {
	margin: 2rem 0.5rem 1rem 1rem;
}

.dartsButton {
	width: 100%;
}

.dartsInput {
	margin-top: 2rem;
}

.dartsCheckbox {
  padding-left: 2rem;
}

thead tr th {
	text-align:center;
}

.disable-clickon-tabs .tab-nav.tabs {
  pointer-events: none !important;
}

.tabs-top > .tabs, .tabs.tabs-top {
  top: 1rem;
}

.radio {
  padding-left: 1rem;
}

